.PdfjsAnnotationExtension_Comment_hidden {
    .CustomComment {
        display: none;
    }
}

// 当二级工具栏隐藏时，自适应高度
.PdfjsAnnotationExtension_SecondaryToolbar_hidden {
    .CustomComment {
        top: 32px;
        height: calc(100vh - 32px);
    }
}
.CustomComment_filterContent {
    ul,
    li {
        list-style: none;
    }
    li {
        padding: 3px;
    }
    li:hover {
        background-color: #ddd;
    }
    li > label {
        width: 100%;
    }
}
.CustomComment {
    width: 260px;
    position: absolute;
    top: 67px;
    right: 0;
    height: calc(100vh - 67px);
    color: var(--main-color);
    background-color: var(--toolbar-bg-color, #f8f9fa);
    border-left: 1px solid var(--toolbar-border-color);
    overflow: auto;
    font: message-box;
    font-size: 14px;
    .filters {
        padding: 5px;
    }
    .list {
        padding: 5px 5px 25px 5px;
        .group {
            margin-bottom: 10px;
        }
        h3 {
            font-weight: normal;
            font-size: 14px;
            span {
                float: right;
            }
        }
        .comment {
            border: 1px solid var(--toolbar-border-color);
            background-color: var(--toolbar-bg-color);
            border-radius: 8px;
            padding:5px 10px 10px 10px;
            line-height: 150%;
            .ant-typography{
                color: var(--main-color) !important;
            }
            p {
                white-space: pre-wrap;
                line-height: 150%;
                padding: 0;
                margin-top: 5px;
            }
            .title {
                display: flex;
                align-items: center;
                cursor: default;
                .username {
                    min-width: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span{
                        display: block;
                        font-size: 12px;
                        line-height: 120%;
                        opacity: 0.5;
                    }
                }
                .annotation-icon {
                    margin-right: 5px;
                    align-self: flex-start;
                    display: inline-flex;
                    align-items: center;
                    svg {
                        width: 1em;
                        height: 1em;
                        fill: currentColor;
                    }
                }
                .tool {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-left: 5px;
                        border-radius: 8px;
                        display: inline-block;
                        padding: 0 3px !important;
                        cursor: pointer;
                        
                        svg {
                            width: 1em;
                            height: 1em;
                            fill: currentColor;
                        }
                    }
                    .icon:hover {
                        background-color: var(--dropdown-btn-bg-color);
                    }
                }
            }
            .reply {
                background-color: var(--dropdown-btn-bg-color);
                border-radius: 5px;
                padding: 5px 10px;
                margin-top: 8px;
                margin-left: 15px;
                .icon:hover {
                    background-color: var(--toggled-btn-bg-color) !important;
                }
            }
        }
        .comment:hover {
            background-color: var(--doorhanger-hover-bg-color);
        }
        .selected {
            border-color: #1677ff72;
            background-color: var(--doorhanger-hover-bg-color);            
        }
        h3,
        .comment {
            margin-bottom: 8px;
        }
    }
}

@media all and (max-width: 780px) {
    .CustomComment {
        width: 260px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 260px;
        }
    }
}
@media all and (max-width: 690px) {
    .CustomComment {
        width: 150px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 150px;
        }
    }
}

@media (hover: hover) {
}
@media (hover: none) {
}
