.painter_wrapper {
    position: absolute;
    text-align: initial;
    top: 0;
    inset: 0;
    overflow: hidden;
    line-height: 1;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    z-index: 1;
}

.painter_input {
    font-family: Arial !important;
    width: auto;
    position: absolute;
    z-index: 999;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: transparent;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    user-select: text;
    word-break: normal;
    font-weight: normal;
    font-style: normal;
}
