.PdfjsAnnotationExtension {
    .toolbar {
        z-index: 99;
    }

    .textLayer {
        z-index: 9 !important;
    }

    #viewerContainer {
        top: 67px !important;
        right: 260px;
    }

    #sidebarContainer {
        top: 67px !important;
    }

    // #toolbarContainer {
    //     height: 107px;
    // }

    .ant-message {
        z-index: 9999999;
    }

    .ant-modal-mask {
        backdrop-filter: blur(8px);
    }

    // 一级菜单按钮样式
    .primaryMenuButton {
        &.active {
            background-color: #007cad !important;
            color: white !important;
        }
    }
}

.PdfjsAnnotationExtension_Comment_hidden {
    #viewerContainer {
        right: 0 !important;
    }
}

// 当二级工具栏隐藏时，页面向上填充
.PdfjsAnnotationExtension_SecondaryToolbar_hidden {
    #viewerContainer {
        top: 32px !important; // 减少toolbar的高度
    }

    #sidebarContainer {
        top: 32px !important;
    }
}

.PdfjsAnnotationExtension_scalechanging {
    .PdfjsAnnotationExtension_painter_wrapper {
        display: none;
    }
}

.pdfPresentationMode {
    .PdfjsAnnotationExtension_painter_wrapper {
        display: block;
    }
}

.thumbnail {
    border: 2px solid transparent !important;
}