.PdfjsAnnotationExtension {
    .toolbar {
        z-index: 99;
    }

    .textLayer {
        z-index: 9 !important;
    }

    #viewerContainer {
        top: 67px !important;
        right: 260px;
    }

    #sidebarContainer {
        top: 67px !important;
    }

    // #toolbarContainer {
    //     height: 107px;
    // }

    .ant-message {
        z-index: 9999999;
    }

    .ant-modal-mask {
        backdrop-filter: blur(8px);
    }
}

.PdfjsAnnotationExtension_Comment_hidden {
    #viewerContainer {
        right: 0 !important;
    }
}

.PdfjsAnnotationExtension_scalechanging {
    .PdfjsAnnotationExtension_painter_wrapper {
        display: none;
    }
}

.pdfPresentationMode {
    .PdfjsAnnotationExtension_painter_wrapper {
        display: block;
    }
}

.thumbnail {
    border: 2px solid transparent !important;
}